<div class="jumbotron">
  <h2 class="display-4">The African Investment Network</h2>
  <p class="lead">The connection between Entrepreneurs and Investors in Africa</p>
  <hr class="my-4">
  <p>Find the best Investment opportunity that will serve all parties right</p>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Features">
    Get Started
  </button>
</div>

<p>
  The time is now: <%= Time.now %>
</p>
