<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>The African Investment Network</strong></h2>
      <p class="mx-5 mb-5">The connection between Entrepreneurs and Investors in Africa. <br>Find the best Investment opportunity that will serve all parties right</p>
      <button type="button" class="btn btn-secondary minerva" data-toggle="tooltip" data-placement="top" title="Features">
        Get Started
      </button>
    </div>
  </div>
</div>

<div class="container">
  <p>
    The time is now: <%= Time.now %>
  </p>
</div>
